<div class="container container-fluid">
    <h2>Tecnologias utilizadas</h2>
    <br />
    <blockquote>

        <p>
            <h3>Front</h3>
            <ul>
                <li>
                    Para estilos, se utilizo bootstrap.
                </li>
                <li>
                    Se utilizo Ajax con jquery.
                </li>
                <li>
                    Se realizo una tabla en la que cada celda contine un caracter que representa una pieza.
                </li>
            </ul>
        </p>
        <p>
            <h3>Back</h3>
            <ul>
                <li>
                    Se utilizo c# en un proyecto mvc.
                </li>
                <li>
                    Metodos de extencion para realizar parses.
                </li>
                <li>
                    Interfaz y clase padre para reutilizar caracteristicas y comportamientos comunes de las piezas.
                </li>
                <li>
                    Se utilizo un patrone de factory para instanciar las distintas piezas.
                </li>
            </ul>
        </p>
    </blockquote>

    <br />
    <blockquote>
        <h2>Contacto</h2>
        <ul>
            <li>
                <a href="mailto: DavidMaccurso@gmail.com">Mail: DavidMaccurso@gmail.com</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/david-accurso-77772716a/">LinkedIn</a>
            </li>
        </ul>
    </blockquote>
</div>

